div{
    margin:-120px 20px 0 20px;

    ion-item{
        border: 2px solid #151515;
        margin-bottom: 20px;
        --padding-start: 20px;
        --padding-end: 20px;
        --padding-top: 5px;
        --padding-bottom: 5px;
        border-radius: 100px;

        
    }

    a{
        color: #151515;
        text-align: right;
        text-decoration: none;
        z-index: 999;
        float: right;
    }

    ion-button{
        --background: #151515;
        --border-radius: 100px;
        --padding-start: 20px;
        --padding-end: 20px;
        --padding-top: 30px;
        --padding-bottom: 30px;
        margin-top: 70px;
        --background-activated: grey;
    }
}
